*{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
}
@font-face {
    font-family: 'iconfont';
    src: url('../xiaomiindex/font/iconfont.eot');
    src: url('../xiaomiindex/font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../xiaomiindex/font/iconfont.woff') format('woff'),
    url('../xiaomiindex/font/iconfont.ttf') format('truetype'),
    url('../xiaomiindex/font/iconfont.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';
    src: url('image/iconfont.eot');
    src: url('image/iconfont.eot?#iefix') format('embedded-opentype'),
    url('image/iconfont.woff') format('woff'),
    url('image/iconfont.ttf') format('truetype'),
    url('image/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*nav css start*/
.nav{
    background-color: #333;
    width: 1280px;
    height: 40px;
    line-height: 39px;
}
.nav-left{
    float: left;
}
.nav-right{
    float: right;
}
.nav a{
    color: #b0b0b0;
    font-size: 12px;
    text-decoration: none;
}
.nav a:hover{
    color: white;
}
.nav span{
    color: #424242;
    font-size: 12px;
}
.shop{
    float: right;
    background: #424242;
    margin-left: 15px;
    height: 40px;
}
.shop a{
    display: inline-block;
    width: 120px;
    color: #b0b0b0;
    font-size: 12px;
    text-align: center;
    height: 40px;
}
.shop a i{
    font-family: "iconfont";
    font-size: 20px;

}
.shop a:hover{
    background-color: #fff;
    color: #f56600;
}
/*nav css end*/
/*container css start*/
.container{
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
}
.container .logo{
    width: 62px;
    float: left;
}
.container .con-nav{
    float: left;
    margin-left: 150px;
}
.container .logo a{
    display: block;
    background: url(image/mi-logo.png) center;
    height: 55px;
    width: 55px;
    background-color: #f56600;
}
.container .con-nav ul{
    float: left;
}
.container .con-nav li{
    float: left;
    list-style-type: none;
}
.container .con-nav a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    line-height: 55px;
    padding: 26px 10px 38px;
}
.container .con-nav a:hover{
    color: #f56600;
}
.container .header{
    margin-top: 22px;
}
.search{
    float: right;
    height: 55px;
    width: 298px;
    position: relative;
}
.search .input-text{
    height: 50px;
    width: 206px;
    padding: 1px 17px;
    border: 1px solid #e0e0e0;
    /*position: absolute;*/
}
.search .input-btn{
    font-weight: 300;
    height: 54px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    float: right;
    background-color: white;
    width: 56px;
    margin-left: -1px;
    font-family: "iconfont";
}
.search .input-btn:hover{
    background-color: #f56600;
    cursor: pointer;
    color: white;
}
.biaoqian a{
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    text-decoration: none;
}
.biaoqian a:hover{
    background-color: #f56600;
    color: white;
}
.biaoqian{
    position: absolute;
    top: 17px;
    right: 89px;
}
/*container css end*/
/*container-a css start*/
.container-a{
    height: 460px;
    margin-top: 30px;
    position: relative;
    background: url("image/xmad_15160255355041_frNaL.jpg") no-repeat;
}
.container .left-con{
    width: 234px;
    height: 460px;
    float: left;
}
.container .left-con ul{
    width: 234px;
    float: left;
    height: 420px;
    color: #fff;
    background: #333;
    background: rgba(0,0,0,0.6);
    padding: 20px 0
}
.container .left-con li{
    list-style-type: none;
    height: 42px;
    position: relative;
}
.container .left-con li:hover{
    background-color: #f56600;

}
.container .left-con a{
    display: block;
    width: 204px;
    text-decoration: none;
    line-height: 42px;
    padding-left: 30px;
    color: #ffffff;
    font-size: 14px;
}
.container .left-con i{
    float: right;
    color: rgba(255,255,255,0.5);
    position: absolute;
    right: 15px;
    font-weight: 900;
}
.container-a .jiantou a{
    position: absolute;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    color: rgba(75,75,75,0.5);
    font-size: 43px;
    right: 0px;
    text-decoration: none;
    line-height: 69px;
}
.container-a .jiantou a:hover{
    background: rgba(0,0,0,0.4);
    color: white;
    border-radius: 1%;
}
.container-a .jt-one a{
    left: 234px;
}
.point{
    width: 400px;
    height: 18px;
    position: absolute;
    bottom: 18px;
    right: 30px;
    float: right;
}
.point{
    text-align: right;
}
.point .p{
    display: inline-block;
    margin: 0 5px;
    width: 7px;
    height: 7px;
}
.point .p a{
    text-decoration: none;
    border:2px solid #fff;
    border-color: rgba(255,255,255,0.3);
    font-size: 12px;
    background: rgba(0,0,0,0.4);
    color: rgba(0,0,0,0.0);
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 5px;
}
.point .p a:hover{
    background: rgba(255,255,255,0.4);
    border-color: rgba(0,0,0,0.3);
}
/*container-a css end*/
/*container-b css start*/
.container-b{
    margin-top: 20px;
}
.container-b .b-nav{
    width: 234px;
    background-color: #333;
    float: left;
}
.container-b .b-nav ul{
    padding: 3px;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
    display: block;
    height: 164px;
}
.container-b .b-nav i{
    font-family: "iconfont";
    display: block;/*使i与a不在同一横在上下分别显示*/
    font-size: 25px;
}
.container-b .b-nav li{
    list-style-type: none;
    padding-top: 23px;
    display: inline-block;
    height: 53px;
    text-align: center;
}

.container-b .b-nav a{
    display: inline-block;
    text-decoration: none;
    color: #757575;
    width: 72px;
    color: rgba(225,225,225,0.6);
}
.container-b .b-nav a:hover{
    color: rgb(225,225,225);
}
.container-b .b-image{
    float: left;
    width:316px;
    height:170px;
    margin-left: 14px;
}
.container-b .b-image img{
    width:316px;
    height:170px;
}
.b-nav ul li:after{
    top: 13px;
    left: 78px;
    width: 1px;
    height: 70px;
    position: absolute;
    content: "";
    background: #665e57;
}
.b-nav ul li:before{
    top: 87px;
    left: 8px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57;
}
.b-nav ul li{
    position: relative;
}
.a:after{
    display: none;
}
.b:before{
    display: none;
}
/*container-b css end*/
/*container-c css end*/
.container-c{
    margin-top: 20px;
}
.container-c .biaoti{
    height: 58px;
}
.container-c .biaoti h2{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    display: inline-block;
    float: left;
}
.container-c .bt-jiantou{
    position: relative;
    top:24px;
    float: right;
    font-size: 0;/*存在兼容性问题解决inline-block把回车解析成空格问题产生*/
}
.container-c .bt-jiantou a{
    display: inline-block;
    width:24px;
    height: 16px;
    padding: 3px 5px;
    border:1px solid #e0e0e0;
    text-decoration: none;
    color: #b0b0b0;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
}
.container-c .bt-jiantou .a-left{
    margin-right: -1px;
}
.container-c .goods{
    height: 340px;
    padding-bottom: 40px;
    overflow: hidden;
}
.container-c .goods ul{
    list-style-type: none;
    width: 2000px;/*设置宽度配合overflow使用把溢出的内容隐藏*/
}
.container-c .goods li{
    height: 300px;
    padding-top: 39px;
    float: left;
    width: 234px;
    margin-right: 14px;
    background-color: #fafafa;
    border-top:1px solid;
}
.container-c .goods a{
    width: 160px;
    display: block;
    margin: 0 auto 22px;
}
.container-c .goods img{
    width: 160px;
    height: 160px;
}
#li-1{
    border-top-color: #ffac13;
}
#li-2{
    border-top-color: #83c44e;
}
#li-3{
    border-top-color: #2196f3;
}
#li-4{
    border-top-color: #e53935;
}
#li-5{
    border-top-color: #00c0a5;
}
.container-c .goods .title{

    font-size: 14px;
    font-weight: 400;
}
.container-c .goods .title a{
    color: #212121;
    text-align: center;
    margin: 0 auto 7px;
}
.container-c .goods .desc{
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    height: 18px;
    margin: 0 auto 12px;
}
.container-c .goods .price{
    color: #ff6709;
    text-align: center;
    font-size: 13px;
}
/*container-c css end*/
/*main css start*/
.main{
    padding-top: 60px;
    background-color: #f5f5f5;
}
.jiadian{
    height: 58px;
}
.bq-jiadian .title{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.bq-jiadian ul{
    float: right;
    padding-top: 16px;
}
.bq-jiadian .title-bt li{
    float: left;
    color: #424242;
    margin-left: 30px;
    padding-bottom: 2px;
}
.bq-jiadian .title-bt li:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
    cursor: pointer;
}
.container-d .body-left{
    float: left;
}
.container-d .body-right{
    float: left;
    margin-left: 12px;
    width: 980px;
}
.container-d .body-right img{
    width:150px;
    height: 150px;
}
.body-right .body-right-a{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 18px;
}
.body-right ul li{
    width: 234px;
    height: 246px;
    padding: 34px 0 20px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    float: left;
}
.body-right h3{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.body-right h3 a{
    color: #333333;
}
.body-right .desc{
    color: #b0b0b0;
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
}
.body-right .price{
    text-align: center;
    color: #ff6700;
    margin: 0 10px 10px;
    font-size: 12px;
}
.body-right .price del{
    color: #b0b0b0;
}
#li-a,#li-b{
    margin-left: 0px;
}
.body-right .last{
    height: 89px;
}
#creame{
    width: 80px;
    height: 80px;
    float: right;
}
.last .title{
    margin: 8px 20px 5px 12px;
    display: block;
}
.last .price{
    margin: 0px 135px 0 30px;
    font-size: 12px;
    color: #ff6700;
}
.last-p{
    position: relative;
}
#last-div{
    position: absolute;
    right: 35px;
    top: 48px;
    width: 48px;
    height: 48px;
    border: 2px solid #ff6700;
    border-radius: 50%;
}
.last .f-size{
    display: block;
    color: #ff6700;
    font-size: 48px;
    line-height: 48px;
}
.more{
    display: block;
    margin: 18px 110px 0 30px;
    font-size: 18px;
    color: #333;
}
.more small{
    display: block;
    font-size: 12px;
    color: #757575;
}
/*main css end*/