$first:#ccc;
.div1{
  color:$first;
  .div4{
    padding: 0;
    margin:0;
  }
  &:hover{//div1 + hover &yin yong le father
    color:$first;
  }
  &-aa{
    background:#000;
  }
}
.div1 .div3{
  padding: 0;
  margin:0;
}
.div3{
  background:{
    img: url();
    color:red;
  };
}
@mixin aa($h:300px,$w:400px){
  width:$w;
  height:$h;
}
.div5{
  @include aa($w:700px,$h:800px);//change shunxu
}
.div6{
  @extend .div5;
  font-size:19px;
}
@import "imp";
$img:'1.jpg';
.div7{
  background-img:url("img/" + $img);
}
$color:rgb(255,0,0);
$color1:rgba(255,0,0,.8);
.div7{
  color: lighten($color,30%);
}
.div8{
  color: darken($color,10%);
}
.div9{
  color: opacify($color,.5);
}
.div10{
  color: transparentize($color,.5);
}
$title:width;
.div11{
  #{$title}:100px;
  //shu xing ming yin yong
}
//$zs:'zhushi';
/*dan heng zhu shi*/

$sel:'.div9';
#{$sel}{
  width:100px;
}
@for $i from 1 to 5{
  .div-for#{$i}{
    width:$i+px;
  }
}
@for $i from 1 through 5{
  .box-for#{$i}{
    width:$i+px;
  }
}
@for $i from 1 through 5{
  @if($i==3){
    .div-if3{
      margin:0;
    }
  }else{
  .div-for#{$i}{
    width:$i+px;
  }
}

}
$list8:(one two three four);
@each $var in $list8{
  .div-#{$var}{
    width:10px;
  }
}
$x:5;
$while:$x>0 {
  .box-#{$x}{
    width:10px;
  }
  $x:$x -1;
}

@function foo($key){
  @if(type-of($key)==string){
  @warn 'wrong';
    @return 10px;
    @error 'wrong';
}@else{
    @return $key+px;
  }

}
.div14{
  width:foo(10);
}